.App {
  text-align: center;
}

.search {
  display: flex;;
  margin-top: 100px;
  justify-content: center;
}

.search > span {
  width: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.create-btn {
  display: flex;
  justify-content: flex-end;
  max-width: 80%;
  margin: 20px auto;
}


.menu {
  background: black;
  height: 100px;
  align-items: center;
}

.menu-item {
  color: white;
  font-size: 2rem;
  gap: 10;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/3D_Ribbon_Amplifier_16x9.jpg");
  background-size: cover;
}

.login-card {
  width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.login-form-input {
  margin-bottom: 16px;
}

.login-form-input input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
}

.login-form-input input:focus {
  outline: none;
  border-color: #1890ff;
  box-shadow: 0 0 5px rgba(24, 144, 255, 0.2);
}


.login-form-button {
  width: 100%;
}

.login-form-title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 24px;
  color: darkcyan;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
